@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
    padding: 10px;
    border-radius: 5px;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
}
.input-box{
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    color: black;
    border: solid black 0.5px;
    border-radius: 5px;
    width: 290px;
    height: 60px;
    direction: ltr;
    margin-left: 15px;
    text-align: center;
}
#btn {
    background-color: deeppink;
}
#ed {
    background-color: dodgerblue;
    font-size: 45px;   
}
input[type=text]{
    font-size: 20px;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: plum;
    color: white;
    border: solid black 0.5px;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
input:active[type=button] {
    background: #e5e5e5;
}
.change:focus{
    background-color: dodgerblue;
}